
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
        max-width: 55%; /* Ajusta este valor según lo que consideres adecuado */
        box-sizing: border-box;
        padding: 16px;
        background: #fff;
    }
    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    .breadcrumb {
        color: #000;
        margin-bottom: 8px;
    }
    .breadcrumb a {
        color: #4d9caa; /* Azul para enlaces */
        text-decoration: none;
    }
    .breadcrumb a:hover, .breadcrumb .current:hover {
        text-decoration: underline;
    }
    .breadcrumb .current {
        color: #c45500; /* Naranja para 'Tus pedidos' */
    }
    .title {
        color: #000;
        font-size: 24px;
    }
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .search-box {
        border: 1px solid #ccc;
        padding: 8px;
        margin-right: 5px;
        flex-grow: 1; /* Asegura que el cuadro de búsqueda se expanda */
    }
    .search-button {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        padding: 8px 16px;
        cursor: pointer;
    }
    .search-button:hover {
        background-color: #e1e1e1;
    }
    .link-container {
        text-align: left;
        margin-bottom: 8px;
    }
    .link-container a {
        color: #4d9caa; /* Azul para enlaces */
        text-decoration: none;
        margin-right: 15px;
    }
    .link-container a:hover {
        color: #d5721f; /* Naranja para enlaces al pasar el mouse */
        text-decoration: underline;
    }
    .separator {
        background-color: #ccc;
        height: 1px;
        border: none;
        margin-top: 8px;
    }
    .orders-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

.orders-container select {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Styles for the select element when it is active/focused */
.orders-container select:focus {
  outline: none;
  border-color: #007bff;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-header {
    display: flex;
    justify-content: space-around ;
    align-items: start;
    padding: 15px;
    background-color: #f5f5f5;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.card-body {
    padding: 15px;
}

.delivery-status {
    font-weight: bold;
    margin-bottom: 20px;
}

.product-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.product-image {
    flex: 0 0 auto; /* Do not grow or shrink */
    margin-right: 20px;
    width: 150px; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    border-radius: 4px;
}

.product-details {
    flex: 1; /* Grow to fill space */
}

.product-description {
    display: block; /* Make a block for clickable area */
    margin-bottom: 10px;
    color: #0056b3; /* Adjust the color as necessary */
    text-decoration: none;
}

.product-actions {
    margin-bottom: 10px;
}

.action-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 0.9em;
}

.yellow {
    background-color: #ffc107;
    color: black;
}

.side-buttons {
    display: flex;
    flex-direction: column;
}

.side-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #ddd;
    color: black;
    text-align: left;
    transition: box-shadow 0.3s ease; 
}
.side-button:hover {
    background-color: #d3d3d3; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.archive-order {
    display: block;
    color: #0056b3;
    text-decoration: none;
    margin-top: 10px;
}

