.body {
    background-color: white;
    min-height: 100vh;
    /* Ajusta la altura mínima a la altura de la pantalla */

    
}


.cuadroazul {

    height: 70vh;
    width: 99%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin-top: 20px;
    background-image: url(/imgs/fondo.png);
    background-size: 100% 100%;
    /* La imagen se expandirá para cubrir completamente el contenedor */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    background-position: center;
    /* Centra la imagen dentro del contenedor */
    position: relative;
    flex-direction: row;

}

.izquierda {
    width: 700px;
    display: flex;
    flex-direction: column;


}

.row{
    margin-right: 5px;
}

.derecha {

    display: flex;
    flex-direction: column;
    width: 600px;
}

.oferta{
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 180px;
    width: fit-content;
    background-color: rgb(15, 15, 164);
    color: white;
    border-radius: 10px;

}

.amazon{
    margin-left: 180px;
    width: fit-content;
    font-size: 60px;
    font-weight: bold;

}

.registrate{
    margin-left: 180px;
    width: fit-content;
    font-weight: bold;
}

.vender{
    margin-top: 60px;
    margin-left: 180px;
    width: fit-content;
    font-weight: bold;
    background-color: orange;
    padding: 5px;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.reg{
    margin-left: 180px;
    margin-top: 3px;
    font-size: 13px;
}

.vender:hover{
    cursor: alias;
}




/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 22rem; /* layout hack */
	background-size: cover;
    align-items: start;
    text-align: start;


}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
    text-align: start;

	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}

.titulos{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.desc{
    padding-left: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* footer */
footer {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #212f3e;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    margin-bottom: 0; /* Sin margen inferior */
    height: auto; /* Ajusta la altura según tus necesidades */
}

#btnInicio {
    font-family: 'Arial', sans-serif; /* Cambiamos el tipo de letra a Arial para el botón */
    font-size: 13px; /* Ajusta el tamaño de fuente según tus preferencias */
    width: 100%;
    background-color: #304153;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s;
    position: absolute;
    top: 0; /* Fijamos el botón a la parte superior del footer */
    left: 50%; /* Centramos horizontalmente */
    transform: translateX(-50%); /* Centramos horizontalmente */
}

#btnInicio:hover {
    background-color: #3e5061;
}

.informacion-adicional {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.columna {
    flex: 1;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.columna p {
    margin: 5px 0;
    text-decoration: none; /* Quitar el subrayado por defecto */
    font-weight: bold; /* Negrita por defecto */
    transition: text-decoration 0.3s; /* Añadido para la transición del subrayado */
}

.columna p:hover {
    text-decoration: underline; /* Subrayado al hacer hover en los párrafos */
    cursor: pointer;
}

.columna p {
    font-family: 'Arial', sans-serif;
    font-size: 12px; /* Tamaño de fuente para la información adicional */
    margin: 5px 0;
    font-weight: bold;
}

    .columna h3 {
        font-family: 'Arial', sans-serif;
        font-size: 14px; /* Tamaño de fuente para los títulos */
        padding-bottom: 10px;
        font-weight: bold;
    }
    
    #segundoBloque img {
        display: block;
        margin: 0 auto;
        max-width: 5%;
        height: auto;
        border-radius: 5px;
    }
    
    #segundoBloque {
        margin-top: 0; /* Sin margen superior */
        margin-bottom: 0; /* Sin margen inferior */
    }
    
    #segundoBloque a {
        text-decoration: none;
        font-weight: bold;
    }
    
    #segundoBloque a:hover {
        text-decoration: underline;
    }

    #tercerBloque {
        background-color: #131418;
        font-size: 10px;
        padding: 15px;
        margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
        margin-bottom: 0; /* Sin margen inferior */
    }
    
    
    #tercerBloque p {
        font-size: 14px;
        margin: 5px 0;
    }
    
    #tercerBloque a {
        text-decoration: none;
        font-weight: bold;
        margin: 0 10px;
    }
    
    #tercerBloque a:hover {
        text-decoration: underline;
    }

.containerss{
    margin-left: 100px;
}