body { 
    font-family: Arial, sans-serif; 
}

.container { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    padding: 100px; 
}

.product { 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 10px; 
    padding: 10px; 
    width: 200px; 
}

.product img { 
    max-width: 100%; 
}

.price { 
    color: red; 
}

.old-price { 
    text-decoration: line-through; 
}

button { 
    background-color: #ff9900; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; }

button:hover {
     background-color: #cc7a00; 
}

